<html xmlns:th="https://www.thymeleaf.org/">
	<head>Students Data</head>
	<body>
		<table border="1">
			<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>STREAM</th>
			<th>COLLEGE NAME</th>
			<th>FEEZ</th>
			<th>OPERATION</th>
			</tr>

			
			<tr th:each="obj:${list}">
				<td>[[${obj.id}]]</td>
				<td>[[${obj.name}]]</td>
				<td>[[${obj.stream}]]</td>
				<td>[[${obj.clgName}]]</td>
				<td>[[${obj.feez}]]</td>
				<td>
				<a th:href="@{/student/delete(id=${obj.id})}">DELETE</a>
				<a th:href="@{/student/edit(id=${obj.id})}">EDIT</a>
				</td>
			</tr>
		</table>
	</body>
</html>